@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #f2726a;
}

body {
	background: linear-gradient(45deg, #00853e, #50c878);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card {
    background-color: #242628;
    width: 280px;
    height: 360px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    margin: 0 20px;
}

.card__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.card__img {
    width: 120px;
    height: 120px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(25px);
    transition: 0.25s;
}

.card__img:hover {
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform: unset;
    border: none;
}

.card h2 {
    margin-top: 35px;
}

.card p {
    color: var(--primary-color);
    font-weight: 500;
}

.card__social a {
    margin: 25px 20px;
    color: white;
    font-size: 25px;
    transition: 0.25s;
}

.card__social a:hover {
    color: #f2726a;
}

.card__social {
    margin: 20px 0;
}

.card button {
    width: 150px;
    height: 40px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.card button:hover {
    background-color: #f2726a;
}

@media only screen and (max-width: 63.9375em) {
    body {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }

    .card {
        margin: 20px 0;
        width: 280px;
        height: 360px;
    }
}
